@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.climaRequests{
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.climaRequests img {
    margin-top: 5px;
    width: 50px;
}

.climaRequests input{
    margin-top: 5px;
    border-radius: 5px;
    border-color: lightgray;
}

.climaRequests button{
    margin-top: 5px;
    background-color: rgba(0, 64, 255, 0.886);
    border-radius: 6px;
}

.climaOutput{
    border: 1px;
    border-style: solid ;
    border-color: gray;
    border-radius: 17px;
    margin-top: 35px;
    width: 350px;
}